*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
a,
a:hover,
a:visited,
a:active {
  color: inherit !important;
}

p {
  margin-bottom: 0 !important;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.open-search {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

/* books details */
.left,
.right {
  padding: 20px;
  width: 100%;
}
@media (max-width: 670px) {
  main {
    flex-wrap: wrap;
  }
}
main .details-top {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}
main .info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  margin-bottom: 10px;
}
main .info-text {
  font-weight: bolder;
  text-decoration: underline;
}

/* custom scrollbar */
html {
  scrollbar-color: #28a745 #6c757d;
}

/*! Other Browser */
html {
  --scrollbarBG: #6c757d;
  --thumbBG: #28a745;
}
body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 8px;
  border: 2px solid var(--scrollbarBG);
}
